corelib/
.vs/
cmake-build-debug/
app/android/.classpath
app/android/.project
app/android/AndroidManifest.xml
app/android/res/raw/
app/
lib/
ALL_BUILD.vcx*
cmake_install.cmake
cmake_uninstall.cmake
CMakeCache.txt
CPack*.cmake
INSTALL.*
PACKAGE.vcxproj*
RTABMap.sln
RTABMap*.cmake
uninstall.vcxpro*
ZERO_CHECK.vcxpro*
examples/
guilib/
tools/
utilite/
CMakeFiles/
x64/
compile_flags.txt
tags